@page
@model chief.Pages.NotifyMaster.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Notify</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Notify.Id" />
            <div class="form-group">
                <label asp-for="Notify.UserId" class="control-label"></label>
                <input asp-for="Notify.UserId" class="form-control" />
                <span asp-validation-for="Notify.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notify.Title" class="control-label"></label>
                <input asp-for="Notify.Title" class="form-control" />
                <span asp-validation-for="Notify.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notify.Message" class="control-label"></label>
                <input asp-for="Notify.Message" class="form-control" />
                <span asp-validation-for="Notify.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notify.Status" class="control-label"></label>
                <input asp-for="Notify.Status" class="form-control" />
                <span asp-validation-for="Notify.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notify.DateCreated" class="control-label"></label>
                <input asp-for="Notify.DateCreated" class="form-control" />
                <span asp-validation-for="Notify.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
