@page
@model chief.Pages.ChecklistMaster.CreateModel

@{
    ViewData["Title"] = "Create";
}
<h2>Create New Checklist</h2>

<form method="post">
    <div class="form-group">
        <label for="DocumentName">Document Name</label>
        <input type="text" class="form-control" id="DocumentName" name="Checklist.DocumentName" required />
    </div>
    <div class="form-group">
        <label for="ApplicationType">Application Type</label>
        <input type="text" class="form-control" id="ApplicationType" name="Checklist.ApplicationType" required />
    </div>
    <div class="form-group">
        <label for="ChecklistItems">Checklist Items</label>
        <input type="text" class="form-control" id="ChecklistItems" name="ChecklistItems" placeholder="Separate items with commas" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-page="Index" class="btn btn-secondary">Back to List</a>
</form>



@section Scripts {
    <script>
        function addItem() {
            var index = document.querySelectorAll('#checklist-items .checklist-item').length;
            var newItemHtml = `
                        <div class="form-group checklist-item">
                            <label>Checklist Item</label>
                            <input name="Checklist.ChecklistItems[${index}].ItemName" class="form-control" />
                        </div>
                    `;
            document.getElementById('checklist-items').insertAdjacentHTML('beforeend', newItemHtml);
        }
    </script>
}