@page
@model chief.Pages.ChecklistMaster.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Checklist</h2>

<p>Are you sure you want to delete this checklist?</p>

<div>
    <strong>Document Name:</strong> @Model.Checklist.DocumentName
</div>
<div>
    <strong>Application Type:</strong> @Model.Checklist.ApplicationType
</div>
<div>
    <strong>Checklist Items:</strong> @string.Join(',', Model.Checklist.ChecklistItems.Select(i => i.ItemName))
</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
</form>
