@page
@model chief.Pages.ApplicationMaster.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Application.DTSNumber" class="control-label"></label>
                <input asp-for="Application.DTSNumber" class="form-control" />
                <span asp-validation-for="Application.DTSNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.ApplicationName" class="control-label"></label>
                <input asp-for="Application.ApplicationName" class="form-control" />
                <span asp-validation-for="Application.ApplicationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.UserType" class="control-label"></label>
                <input asp-for="Application.UserType" class="form-control" />
                <span asp-validation-for="Application.UserType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.ApplicantName" class="control-label"></label>
                <input asp-for="Application.ApplicantName" class="form-control" />
                <span asp-validation-for="Application.ApplicantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.FiledDate" class="control-label"></label>
                <input asp-for="Application.FiledDate" class="form-control" />
                <span asp-validation-for="Application.FiledDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.Evaluators" class="control-label"></label>
                <input asp-for="Application.Evaluators" class="form-control" />
                <span asp-validation-for="Application.Evaluators" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.DaysToEvaluate" class="control-label"></label>
                <input asp-for="Application.DaysToEvaluate" class="form-control" />
                <span asp-validation-for="Application.DaysToEvaluate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Application.Status" class="control-label"></label>
                <input asp-for="Application.Status" class="form-control" />
                <span asp-validation-for="Application.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
